html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
@media screen and (min-width:993px){
.interests {
  height: 400px;
  margin: 0;
  }
}
@media screen and (max-width:992px){
.interests  .margin-card {
    margin: auto;
    margin-top: 20px;
  }
}
.row .cursor-interests{
  cursor: default;
}
.container p {
  font-size: 16px;
}
.container .i-know{
  font-size: 20px;
  margin: 80px 0 40px;
}
.container .tags {
  margin-bottom: 47px;
}
