html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
 // O mnie
 @media screen and (min-width:992px) {
 .card-panel, .personal-data {
   height: $height-col;
  }
 }
 .container  {
   p {
   font-size: 16px;
  }
  .i-know{
    font-size: 20px;
    @include margin(40px, 6px);
  }
  .tags {
    @include margin(0, 47px);
    .chip {
      @include margin(10px, 0);
    }
  }
 }
 @media screen and (max-width:532px){
   .row .no-pad {
     padding: 0;
   }
   .no-container {
     width: 100%;
   }
 }
 // parallax
 .dark-overlay {
   @include overlay;
 }
 .parallax-container .parallax-card{
   opacity: 0.7;
   height: 235px;
   border-radius: 5px;
   margin-top: 8rem;
   .container-width {
     width: 85%;
     h5 {
      padding: 16px 0;
    }
    p {
      text-align: justify;
    }
    p:last-child {
      padding-bottom: 16px;
    }
   }
 }
 // Zaintersowania
@media screen and (min-width:993px){
.interests {
  height: 380px;
  margin: 0;
  }
}
@media screen and (max-width:992px){
.interests  .margin-card {
    margin: auto;
    margin-top: 20px;
  }
}
.row .cursor-interests{
  cursor: default;
  .center {
  padding-top: 20px;
  }
}
// Stopka
footer .page-footer .no-padding{
  padding-top: 0;
}
// scroll
.hidden{
  display: none !important;
}
