html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
 // O mnie
 .container  {
   p {
   font-size: 16px;
  }
  .i-know{
    font-size: 20px;
    margin: 40px 0 6px;
  }
  .tags {
    margin-bottom: 47px;
    .chip {
      margin-top: 10px;
    }
  }
 }

 // Zaintersowania
@media screen and (min-width:993px){
.interests {
  height: 380px;
  margin: 0;
  }
}
@media screen and (max-width:992px){
.interests  .margin-card {
    margin: auto;
    margin-top: 20px;
  }
}
.row .cursor-interests{
  cursor: default;
  .center {
  padding-top: 20px;
  }
}
